# .gitignore for Enginesis web development project
*.log
*.zip
*.flv
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Other files and folders
.idea/
.vscode/
node_modules/
data/
services/serverConfig.php
