body {
	color: #ffffff;
	background-color: #636363;
	font-family: Arial, san-serif;
}

h1 {
	color: rgb(231, 231, 231);
}

.copyright {
	color: rgb(184, 184, 184);
	font-family: Arial, san-serif;
	font-size: 8pt;
}

.poweredby {
	color: rgb(184, 184, 184);
	font-family: Arial, san-serif;
	font-size: 8pt;
}

.varyn-logo-footer {
	height: 3rem;
}

a {
	color: rgb(148, 178, 241);
}

a:hover {
	color: rgb(214, 227, 255);
}
